<div class="container my-3">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">政府專區</h1>
            <p class="lead">提供政府單位新增公民履歷以及編輯單位權限</p>
        </div>
    </div>
</div>
<div class="container">
    <ngb-tabset>
        <ngb-tab title="編輯權限">
            <ng-template ngbTabContent>
                <app-government-edit-permission></app-government-edit-permission>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="新增履歷">
            <ng-template ngbTabContent>
                <app-government-create-resume></app-government-create-resume>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
