<div class="my-3" *ngIf="!isConfirmed && !isError">
    <form
        [formGroup]="courseForm"
        (ngSubmit)="addCourse(courseForm.value)"
    >
        <div class="form-group">
            <label for="contract">履歷位址</label>
            <input
                type="text"
                class="form-control"
                id="contract"
                placeholder="輸入履歷位址"
                [formControlName]="'contract'"
            >
        </div>
        <div class="form-group">
            <label for="name">課程名稱</label>
            <input
                type="text"
                class="form-control"
                id="name"
                placeholder="輸入課程名稱"
                [formControlName]="'name'"
            >
        </div>
        <div class="form-group">
            <label for="content">課程內容</label>
            <textarea
                class="form-control"
                id="content"
                rows="5"
                [formControlName]="'content'"
            ></textarea>
        </div>
        <div class="form-group">
            <label for="grade">成績</label>
            <input
                type="text"
                class="form-control"
                id="grade"
                placeholder="輸入成績0~100"
                [formControlName]="'grade'"
            >
        </div>
        <div class="form-group">
            <label for="comment">評論</label>
            <textarea
                class="form-control"
                id="comment"
                rows="5"
                [formControlName]="'comment'"
            ></textarea>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary" [disabled]="courseForm.invalid || isPending">新增</button>
        </div>
    </form>
</div>
<div class="my-3" *ngIf="isConfirmed">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>更新完成</strong>
        <button type="button" class="close" (click)="resetConfirmState()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="my-3" *ngIf="isError">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>發生錯誤</strong> {{ errorMessage }}
        <button type="button" class="close" (click)="resetErrorState()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

