<div class="my-3" *ngIf="!isConfirmed && !isError">
    <form
        [formGroup]="experienceForm"
        (ngSubmit)="addExperience(experienceForm.value)"
    >
        <div class="form-group">
            <label for="contract">履歷位址</label>
            <input
                type="text"
                class="form-control"
                id="contract"
                placeholder="輸入履歷位址"
                [formControlName]="'contract'"
            >
        </div>
        <div class="form-group">
            <label for="position">職稱</label>
            <input
                type="text"
                class="form-control"
                id="position"
                placeholder="輸入職稱"
                [formControlName]="'position'"
            >
        </div>
        <div class="form-group">
            <label>開工日</label>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                    ngbDatepicker #d="ngbDatepicker" [formControlName]="'startDate'">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">+</button>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary" [disabled]="experienceForm.invalid || isPending">新增</button>
        </div>
    </form>
</div>
<div class="my-3" *ngIf="isConfirmed">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>編輯完成</strong>
        <button type="button" class="close" (click)="resetConfirmState()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="my-3" *ngIf="isError">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>發生錯誤</strong> {{ errorMessage }}
        <button type="button" class="close" (click)="resetErrorState()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

