<div class="my-3">
    <form>
        <div class="form-group">
            <label for="address">帳戶位址</label>
            <input type="text" class="form-control" id="address" placeholder="輸入帳戶位址">
        </div>
        <div class="form-group">
            <label for="permission">編輯權限</label>
            <select class="form-control" id="permission">
                <option>是</option>
                <option>否</option>
            </select>
        </div>
        <div class="form-group">
            <label for="name">單位名稱</label>
            <input type="text" class="form-control" id="name" placeholder="輸入單位名稱">
        </div>
        <div class="form-group">
            <label for="type">機構類別</label>
            <select class="form-control" id="type">
                <option>教育單位</option>
                <option>企業單位</option>
            </select>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary">送出</button>
        </div>
    </form>
</div>
